html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background: url(background.jpg) no-repeat 50% 50%;
    background-size: cover;
    
}

#loader {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 1;
    overflow: visible;
    background: #fff url('../images/loader.gif') no-repeat center center;
    background-color: #191f26;
}

